{% extends 'layout.html' %}
{% block content %}
{% load static %}

<div class="face-container">
    <a href="{% url 'login' %}"><h2>Intelligent Assistance System</h2></a>
    <div id="message" class="alert"></div>
    <div id="camera-container">
        <img id="video" width="100%" height="auto" src="{% url 'video' %}" alt="Video stream with face detection">
        <canvas id="canvas" width="300" height="200"></canvas>
    </div>

    <input type="hidden" id="csrf-token" value="{{ csrf_token }}">
    <div id="user-info" style="display: none;">
        <span id="username-display" style="display: none;"></span>
        <p>Please select your attendance type:</p>
        <div class="buttons-container">
            <button id="entry-button" data-type="entry">Entry</button>
            <button id="exit-button" data-type="exit">Exit</button>
        </div>
    </div>
</div>

<link rel="stylesheet" href="{% static 'css/face.css' %}">
<script src="{% static 'js/face.js' %}"></script>
<script defer src="https://cdn.jsdelivr.net/npm/face-api.js"></script>

{% endblock %}