{% extends 'layout.html' %}
{% load static %}
{% block content %}

<div class="user-container mt-5">
    <a href="{% url 'register' %}"><h2 class="mb-4 text-center">Registered Users</h2></a>
    <div class="actions-group">
        <a href="{% url 'main' %}" class="action-button secondary-button">Administrator</a>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-hover align-middle table-users">
            <thead class="table-header">
                <tr>
                    <th>Fullname</th>
                    <th>Identification number</th>
                    <th>User Type</th>
                    <th>Photo</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.user.username}}</td>
                    <td>{{ user.identification_number }}</td>
                    <td>
                        {% if user.user_type == 'administrative' %}
                        Administrative
                        {% elif user.user_type == 'student' %}
                        Student
                        {% else %}
                        { user.user_type }
                        {% endif %}
                    </td>
                    <td>
                        {% if user.face_image_base64 %}
                        <img src="data:image/jpeg;base64,{{ user.face_image_base64 }}" alt="user-photo" class="user-photo">
                        {% else %}
                        <span class="text-muted">No photo</span>
                        {% endif %}
                    </td>
                    <td>
                        <form action="{% url 'update' user.pk %}" method="GET" class="user-update">
                            <button type="submit" class="update-button">Update</button>
                        </form>
         
                        <form action="{% url 'delete' user.pk %}" method="POST" class="user-delete">
                            {% csrf_token %}
                            <button type="submit" class="delete-button"
                                onclick="return confirm('Are you sure you want to delete this user?');">Delete</button>
                        </form>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center">No users registered</td>
                </tr>
                {% endfor%}
            </tbody>
        </table>
    </div>
</div>

<link rel="stylesheet" href="{% static 'css/users.css' %}">

{% endblock %}